{
  "pieces" : {
    "NW" : {
      "textureSize" : [8, 8],
      "texturePosition" : [0, 0]
    },
    "N" : {
      "textureSize" : [8, 8],
      "texturePosition" : [8, 0]
    },
    "NE" : {
      "textureSize" : [8, 8],
      "texturePosition" : [16, 0]
    },
    "W" : {
      "textureSize" : [8, 8],
      "texturePosition" : [0, 8]
    },
    "C" : {
      "textureSize" : [8, 8],
      "texturePosition" : [8, 8]
    },
    "E" : {
      "textureSize" : [8, 8],
      "texturePosition" : [16, 8]
    },
    "SW" : {
      "textureSize" : [8, 8],
      "texturePosition" : [0, 16]
    },
    "S" : {
      "textureSize" : [8, 8],
      "texturePosition" : [8, 16]
    },
    "SE" : {
      "textureSize" : [8, 8],
      "texturePosition" : [16, 16]
    },
    "onlyS" : {
      "textureSize" : [8, 8],
      "texturePosition" : [32, 0]
    },
    "onlyN" : {
      "textureSize" : [8, 8],
      "texturePosition" : [32, 16]
    },
    "onlyE" : {
      "textureSize" : [8, 8],
      "texturePosition" : [24, 8]
    },
    "onlyW" : {
      "textureSize" : [8, 8],
      "texturePosition" : [40, 8]
    },
    "H" : {
      "textureSize" : [8, 8],
      "texturePosition" : [24, 16]
    },
    "V" : {
      "textureSize" : [8, 8],
      "texturePosition" : [24, 0]
    },
    "Z" : {
      "textureSize" : [8, 8],
      "texturePosition" : [32, 8]
    }
  },

  "representativePiece": "Z",

  "rules" : {
    "self" : {
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "nself" : {
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Connects" : {
      "entries" : [
        {
          "type" : "Connects"
        }
      ]
    },
    "empty" : {
      "entries" : [
        {
          "type" : "Connects",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
    
      // 0 n
      {
        "matchAllPoints" : [
          [[0, 1], "nself"],
          [[0, -1], "nself"],
          [[1, 0], "nself"],
          [[-1, 0], "nself"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["Z", [0, 0]]]
      },
      
     
      // hori
      {
        "matchAllPoints" : [
          [[0, 1], "nself"],
          [[0, -1], "nself"]
        ],
        "haltOnSubMatch" : true,
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[1, 0], "nself"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["onlyW", [0, 0]]]
          },
          {
            "matchAllPoints" : [
              [[-1, 0], "nself"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["onlyE", [0, 0]]]
          },
          {
            "haltOnMatch" : true,
            "pieces" : [["H", [0, 0]]]
          }
        ]
      },

      // vert
      {
        "matchAllPoints" : [
          [[1, 0], "nself"],
          [[-1, 0], "nself"]
        ],
        "haltOnSubMatch" : true,
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[0, 1], "nself"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["onlyS", [0, 0]]]
          },
          {
            "matchAllPoints" : [
              [[0, -1], "nself"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["onlyN", [0, 0]]]
          },
          {
            "haltOnMatch" : true,
            "pieces" : [["V", [0, 0]]]
          }
        ]
      },

      // 123
      {
        "matchAllPoints" : [
          [[0, 1], "nself"]
        ],
        "haltOnSubMatch" : true,
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[-1, 0], "nself"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["NW", [0, 0]]]
          },
          {
            "matchAllPoints" : [
              [[1, 0], "nself"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["NE", [0, 0]]]
          },
          {
            "matchAllPoints" : [
              [[1, 0], "self"],
              [[-1, 0], "self"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["N", [0, 0]]]
          }
        ]
      },

      // 789
      {
        "matchAllPoints" : [
          [[0, -1], "nself"]
        ],
        "haltOnSubMatch" : true,
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[-1, 0], "nself"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["SW", [0, 0]]]
          },
          {
            "matchAllPoints" : [
              [[1, 0], "nself"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["SE", [0, 0]]]
          },
          {
            "matchAllPoints" : [
              [[1, 0], "self"],
              [[-1, 0], "self"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["S", [0, 0]]]
          }
        ]
      },

      // mid
      {
        "matchAllPoints" : [
          [[1, 0], "self"],
          [[-1, 0], "self"],
          [[0, 1], "self"],
          [[0, -1], "self"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["C", [0, 0]]]
      },

      // 4, 6
      {
        "matchAllPoints" : [
          [[1, 0], "self"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["W", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[-1, 0], "self"]
        ],
        "pieces" : [["E", [0, 0]]]
      }
    ]]
  ]
}
